.logo,.search_bar,.grid_logon {
    display: inline-block;
    vertical-align: middle;
}

.grid_logon {
    float: right;
}

.search_bar {
    width: 500px;
    height: 40px;
    border-radius: 25px;
    text-indent: 15px;
}

button {
    background-color: blue;
    font-family: Arial;
    font-size: 16px;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.nav_bar {
    margin-left: 85px;
    font-family: Arial;
    font-size: 14px;
}

.search_options,.settings {
    display: inline-block;
  }

li {
    display: inline;
}

.search_options a, .settings a, .right_header a, .footer a {
    color: gray;
    text-decoration: none;
}

.search_options a:hover, .settings a:hover, .right_header a:hover, .footer a:hover {
    color: blue;
}

hr {
    border-top: 1px solid gainsboro;
}

main {
    margin-left: 125px;
    font-family: Arial;
}

.results h3, .results p {
    margin: 0;

h3 a {
    text-decoration: none;
}

.other_searches, .other_searches td {
    border-collapse: collapse;
    border: 1px solid gainsboro;
    width: 600px;
}

footer {
    margin-left: 125px;
    font-family: Arial;
    font-size: 12px;
}